<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">

    <title>Flask Blog</title>
</head>
<body>
    <div class="container">
       <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
          <a class="navbar-brand mr-4" href="#">Bangla Dictionary</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
             <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="AllWord"><h2>ShowAll</h2></a>
                <a class="nav-item nav-link" href="about"><h2>About</h2></a>
             </div>
          </div>
        </div>
       </nav>
    </div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12" style="background:;">
               <h2 style="text-align:center">Search Here</h2>
            </div>
        </div>
        <form action="{{ url_for('home') }}" method="post">
        <div class="row">
            <div class="col-md-11">
                <input type="text" placeholder="Search.." class ="form-control" name ="name" style="width:100%">
            </div>
            <div class="col-lg-1">
                <button type="submit">Go</button>
            </div>
            </div>
        </form>

        <div></div>


        <div style="margin-top:400px">
            <div >
                <div class="row" style="background:blue  ;color:red; text-align:center;padding-left:48%">
                    <h2>Deatails</h2>
                </div>
                </div>
                <div class="row" >

                    {% if name is none %}
                            <h1>First Write some letter</a></h1>
                    {% endif %}
                    {% for data in rows %}
                        {% if  data %}
                           <h1><a href="#">{{data[1]}} --- {{data[2]}}</a></h1>
                        {% endif %}
                        {%else%}
                            <h1> No data found please write first </h1>
                    {% endfor %}
                </div>
        </div>
    </main>

    <script>

        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        function filterFunction() {
          var input, filter, ul, li, a, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          div = document.getElementById("myDropdown");
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
            } else {
              a[i].style.display = "none";
            }
          }
        }
</script>

      <!--onClick="filterFunction()" -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>